/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus, select:focus {
    outline: none;
}

.main-container {
    height: 100vh;
    color: white;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------------------------------------------basic skeleton -------------------------------------------*/

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    gap: 30px;
}

.header {
    display: flex;
    align-items: center;
    max-width: 80%;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}

nav button {
    margin-left: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
}

nav button:hover{
    color: blue;
}

#res-title{
    font-size: 2rem;
    font-weight: bold;
}


/*---------------------------------------------homepage---------------------------------------------------------------*/
.home-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 20px;
}

.slogan {
    font-size: 5rem;
    font-weight: bold;
    max-width: 50%;
    text-transform: uppercase;
    color: white;
}

.caption {
    font-size: 1.2rem;
    max-width: 35%;
    color: #a1a1aa;
}

.menu-button {
    padding: 1.2rem 2.5rem;
    background: none;
    border: none;
    background-color: white;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 6px;
    font-size: 1.6rem;
}

.menu-button:hover {
    background-color: blue;
    color: white;
}

/*---------------------------------------------menu-page---------------------------------------------------------------*/
.menu-container {
    height: 110vh;
    max-width: 80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu-header {
    display: flex;
    flex-direction: column;
}

.menu-title{
    font-size: 2.7rem;
    font-weight: bold;
}

.menu-caption {
    color: #a1a1aa;
    font-size: 1.3rem;
}

.menu-items {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 1rem;
}

/*-------------------------menu card------------------------------*/
.menu-img {
    border-radius: 5px;
    object-fit: cover;
    width: 90%;
    height: 270px;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 10px;
    border: 1px solid #27272a;;
    border-radius: 10px;
    background-position: 50%;
    background-size: cover;
}

.img-description {
    text-align: left;
    margin-bottom: 20px;
}

.img-description h1 {
    margin-top: 10px;
    font-size: 2rem;
    align-self: center;
    text-align: center;
    font-weight: bold;
}

.img-description > p {
    width: 90%;
    margin: auto;
    margin-top: 5px;
    color: #a1a1aa;
    text-wrap: wrap;
}

.menu-order {
    border: none;
    background: none;
    padding: 1.5rem;
    width: 90%;
    background-color: white;
    color: black;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.menu-order:hover {
    background-color: blue;
    color: white;
}

.card {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    gap: px;
    align-items: center;
    border: 2px solid #27272a;;
    border-radius: 5px;
}